.footer-section{
    width: 100vw;
    height: 20vh;
    background-color: rgb(19, 28, 54);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-section > div{
    width: 35%;
}