.front-body{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body{
    width: 90%;
    height: 90%;
    /*background-color: rgba(113, 113, 113, 0.514);*/
    display: flex;
    justify-content: space-between;
}

.content-body > *{
    height: 100%;
    /*background-color: #00ffff1a;*/
}

.left-column{
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.center-column{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-column{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll-section{
    transform: rotate(90deg);
    translate: 40% -50%;
}

#center-text{
    font-family: Gotham Black;
    font-size: 800%;
}

.logo-section{
    width: 30%;
}

.main-content-section > *{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ffffff98;
}

#A-PRODUCT-P{
    translate: 25% 100%;
}

#BY-SHADE-MEDIA-P{
    translate: 50% -50%;
}