:root {
  /*picking some nice colors for the website*/
  
  /*primone and two create a gradient*/
  --primary-one: #0B60B0;
  --primary-two: #40A2D8;

  /*mostly text and little features*/
  --sec-color: #ffffff;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Gotham HTF;
  font-size: 140%;
  color: #ffffff;
  overflow-x: hidden;
  background-image: radial-gradient(ellipse at 20% 20%, var(--primary-two), var(--primary-one));
}