.info-section{
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text-section, .info-pic-section{
    width: 50%;
    height: 100%;
   
}

.info-text-section{
    background-color: #ffffff;
    color: black;
}

.info-text-section > * {
    margin: 5vh;
}


.info-pic-section{
    background-color: blue;
}

#picture-one{
    background-image: url("../src/future_pic_three.png");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    
}

#picture-two{
    background-image: url("../src/future_picture_two.png");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}