.info-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: cetner;
    flex-direction: column;
    background-image: url("../src/future_pic_three.png");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}

.info-text-section, .info-pic-section{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;

}

.info-text-section{
    color: #000000;
}

.info-text-section > * {
    margin: 5vh;
    margin-top: 10vh; 
    margin-bottom: 10vh;
}


.info-pic-section{
    background-color: blue;
}

